.subHeader{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    border: solid 1px #000;
    border-radius: 10px;
}

.subHeader img{
    border-radius: 50%; 
    border: 2px solid #2bf335; 
    padding: 3px; 
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

.subHeader textarea{
    width: 83%;
    height: 50px;
    margin: 0 auto;
    border:solid 3px #ccc;
    border-radius: 10px;
    text-align: left;
}
.functionPost{
    display: inline-flex;
    margin: 2% 6%;
}

.functionPost input{
    margin: 1% 9%;
}

.subHeader button{
    width: 80%;
    height: 29px;
    margin: 8px 10%;
    background-color: #2175ad;
    color: #fff;
}
